export TF_VAR_n8n_encryption_key="..."
export TF_VAR_tunnel_token="..."

export SHARE_FOLDER="..."
export SYNC_FOLDER="..."
export SYNCTHING_CONFIG="..."
export N8N_DATA="..."
export NGINX_CERTS="..."
export PASTEBIN_SOURCE="..."
export COPYPARTY_CONF="..."

